.create-container {
    background-color: rgb(114, 114, 114);
    box-sizing: border-box;
    padding: 0 1.5em;
}

.create-title {
text-align: center;
}

/*    LARGE SCREEN      */

@media (min-width: 700px) {
    .create-container{
        padding: 0 4rem;
    }
}