.create-container {
    background-image: url("../resources/d36d462db827833805497d9ea78a1343.jpg");
    box-sizing: border-box;
    background-size: cover;
}

.create-title {
text-align: center;
margin: 5px 0 5px 0;
padding: 13px 0px 10px 0px;
background-color: rgba(255, 255, 255, 0.411);
width: 100%;
margin-bottom: 15px;
text-transform: uppercase;
}

.div-bottom {
    color: grey;
}

/*    LARGE SCREEN      */

@media (width < 800px) {
    .create-container{
padding: 0 1rem;
    }
}