.general-filter {
  display: flex;
  margin: 15px;
}

.body-filterbar {
  /* justify-content: flex-end; */
  background-color: red;
}

@media (max-width : 600px){
  .general-filter {
    display: none;
    margin-top: 30px;
  }
}