.general-filter {
  display: flex;
  align-items: center;
  background-color: rgb(187 187 187 / 60%);
  justify-content: space-around;
  border-bottom: 0;
  margin-top: 5px;
}

.body-filterbar {
  display: flex;
  margin: 10px;
}

.filter-button {
  display: flex;
  border: none;
  margin: 0px 5px 0px 5px;
  border-radius: 3px;
  align-items: center;
  height: 3em;
  cursor: pointer;
  background-color: rgb(112, 112, 112);
  box-shadow: 1px 2px 3px 0px #0000008a;
  justify-content: center;
  width: 65px;
  color: white;
}

.filter-buttona {
  display: flex;
  border: none;
  margin: 0px 5px 0px 5px;
  border-radius: 3px;
  align-items: center;
  height: 3em;
  cursor: pointer;
  box-shadow: 1px 2px 3px 0px #0000008a;
  justify-content: center;
  width: 65px;
  background-color: #ba4343;
  color: white;
}

.form-filter {
  display: flex;
}

.select-filter {
  border: none;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 2px 3px 0px #0000008a;
  border-radius: 3px;
}

@media (max-width: 793px) {
  .order-filter-body {
    display: none;
  }
  .general-filter {
    display: flex;
    justify-content: center;
  }
}
