.general-filter {
  display: flex;
  margin: 5px 0 0 0;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(187, 187, 187);
}

.body-filterbar {
  background-color: red;
  
}

.order-filter-body {
  display: flex;
}

/* .searchbar-filter {
  justify-content: center;
} */

@media (max-width: 793px) {
  .order-filter-body {
    display: none;
  }
  .general-filter {
    display: flex;
    justify-content: center;
  }
}
