.card-conteiner {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 30px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 3px rgb(0 0 0);
  overflow: hidden;
  cursor: default;
  transition: all 300ms ease;
  text-align: center;
  min-height: 330px;
  width: 250px;
  max-height: 390px;
}

.card-conteiner:hover {
  box-shadow: 6px 6px 20px 5px rgb(0, 0, 0, 1);
  transform: translateY(-5px);
}

.card-image {
  width: 270px;
  min-height: 231px;
  margin: -10px 0px 0px -10px;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  height: 67px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card-diets {
  min-height: 38px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.navlink-card {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hr-card {
  border: 1px solid #a84242d9;
  width: 85%;
  margin-top: 0;
}
