.card-conteiner {
  background-color: rgb(248, 242, 226);
  font-family: "Poppins", sans-serif;
  margin: 30px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
  overflow: hidden;
  cursor: default;
  transition: all 300ms ease;
  text-align: center;
  min-height: 330px;
  width: 250px;
}

.card-conteiner:hover {
  box-shadow: 0 3px 20px rgb(0, 0, 0, 1);
  background-color: rgb(248, 242, 226);
}

.card-image {
  width: 270px;
  min-height: 230px;
  margin: -10px 0px 0px -10px;
}

.card-title {
  font-size: 30px;
  font-weight: 600;
}

.navlink-card {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.card-diets {
  font-size: 18px;
}
