.card-conteiner {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 30px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 3px 8px 20px rgb(0 0 0);
  overflow: hidden;
  cursor: default;
  transition: all 300ms ease;
  text-align: center;
  min-height: 330px;
  width: 250px;
  max-height: 350px;
}

.card-conteiner:hover {
  box-shadow: 0 3px 20px rgb(0, 0, 0, 1);
  transform: translateY(-5px);
}

.card-image {
  width: 270px;
  min-height: 231px;
  margin: -10px 0px 0px -10px;
}

.card-title {
  font-size: 25px;
  font-weight: 600;
}

.navlink-card {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hr-card {
  border: 1px solid #a84242d9;
  width: 85%;
}
