.footer-conteiner {
  background-color: rgba(3, 3, 3, 0.815);
  display: flex;
  width: 100%;
  height: 98px;
  align-items: center;
  justify-content: space-evenly;
}

.navlink-footer {
  color: white;
  margin: 20px;
  cursor: pointer;

  font-size: 20px;
  list-style: none;
  text-decoration: none;
}


