.searchbar-body {
  /*  height: 40px;
  padding-top: 9px; */
  background-color: rgb(187, 187, 187);
  margin-right: 45px;
  /*  display: flex;
  justify-content: center; */
}

.searchbar-body input {
  border-radius: 15px;
  width: 250px;
  height: 30px;
  padding: 0px 0px 0px 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid grey;
}

.search-button {
  width: 0px;
  height: 0px;
  background: white;
  color: #853535;
  top: -27px;
  position: relative;
  left: 232px;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 799px) {
  .search-button {
    display: none;
  }
  .searchbar-body {
    margin: 10px;
  }
}
