.notfound-container {
  padding-top: 25px;
  display: flex;
}

.body-notfound {
  width: 700px;
  height: 100vh;
  margin: auto;
}

@media (width < 700px) {
  .body-notfound {
    width: 100vw;
  }
}
