.about-container {
  height: calc(100vh - 169px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
}

.about-card {
  width: 50em;
  height: 20em;
  background-color: rgb(83, 83, 83);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

.about-text {
  padding: 4em;
}

.tech-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
}

.tech-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
}

.react-icon {
  width: 3em;
  height: 2em;
  color: #ffcc54;
}

.about-pages {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  list-style: none;
}

.about-pages li a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  color: white;
  text-decoration: none;
}

@media (width < 600px) {
  .about-container {
    height: 100vh;
  }
  /*  .about-text {
    width: 100vw;
  } */
  .about-card {
    height: auto;
  }
  .tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tech-list li a{
    justify-content: initial;
  }
  .about-pages {
   /*  display: grid;
    grid-template-columns: 1fr; */
  }
}
