.about-container {
  height: calc(100vh - 169px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card {
  width: 50em;
  height: 20em;
  background-color: rgb(83, 83, 83);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

.about-text {
  padding: 4em;
}

.tech-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
}
