* {
  font-family: "Poppins", Poppins;
}
.menu-navbar {
  background-color: #853535;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.body-navbar {
  font-family: "Poppins", Poppins;
  background-color: #f4f4f4;
}

.logo-navbar a {
  color: white;
  font-size: 35px;
  padding: 0 40px;
  font-weight: bold;
  text-decoration: none;
}

.navlink-navbar {
  list-style: none;
  display: flex;
  color: white;
  font-size: 20px;
  margin: 0 15px 0 15px;
}

.navlink-navbar a {
  text-decoration: none;
}

.navlink-navbar li {
  border-radius: 3px;
  margin: 0 5px;
}

.navbar-food-icon {
  margin: -5px;
}

.activated {
  text-shadow: 3px 4px 2px black;
}
